<h1>Portfolio items</h1>


<% @portfolio_items.each do |k| %>

	<%=k.title%><br>
    <%=k.subtitle%><br>
    <%=k.body%><br><br>
    <%= image_tag k.thumb_image if !k.thumb_image.nil?%>
    <hr>
    <br>



	
<%end%>